*lvsRulesFile: [[calibre_lvs_dir]]/[[calibre_lvs_basename]].[[lvs_variant]].qcilvs
*lvsRunDir: [[output_dir]]
*lvsLayoutPaths: [[cell]].calibre.db
*lvsLayoutPrimary: [[cell]]
*lvsLayoutLibrary: [[library]]
*lvsLayoutView: [[lvs_layout_view]]
*lvsLayoutGetFromViewer: 1
*lvsSourcePath: [[cell]].src.net
*lvsSourcePrimary: [[cell]]
*lvsSourceLibrary: [[library]]
*lvsSourceView: [[lvs_source_view]]
*lvsSourceGetFromViewer: 1
*lvsSpiceFile: [[cell]].sp
*lvsDeviceFilterOptionsEnabled: [[ "1" if lvs_device_filter_options_enabled else "0" ]]
*lvsLayoutDeviceFilterOptions: [[lvs_layout_device_filter_options]]
*lvsSourceDeviceFilterOptions: [[lvs_source_device_filter_options]]
*lvsPowerNames: [[ lvs_power_names | join(' ') ]]
*lvsGroundNames: [[ lvs_ground_names | join(' ') ]]
*lvsRecognizeGates: [[lvs_recognize_gates]]
*lvsERCDatabase: [[cell]].erc.results
*lvsERCSummaryFile: [[cell]].erc.summary
*lvsReportFile: [[cell]].lvs.report
*lvsSVDBcci: [[ "1" if lvs_svdb_cci else "0" ]]
*lvsReportOptions: [[lvs_report_options]]
*lvsPreTriggers: {{rm -rf %d/svdb} process 1}
*lvsPostTriggers: {{rm -rf %d/query_output} process 1} {{mkdir %d/query_output} process 1}[% if run_qrc_query %] {{calibre -query_input [[qrc_query_cmd_name]] -query svdb } process 1}[% endif %]
*lvsAbortOnSupplyError: [[ "1" if lvs_abort_on_supply_error else "0" ]]
*cmnWarnLayoutOverwrite: 0
*cmnWarnSourceOverwrite: 0
*cmnShowOptions: 1
[% if connect_by_name %]*cmnVConnectNamesState: ALL
[% endif %]*cmnSpecifyLicenseWaitTime: 1
*cmnLicenseWaitTime: 10
*cmnReleaseLicense: 1
*cmnNumTurbo: 2
*cmnRunMT: 1
*cmnRunHyper: 1
*cmnTemplate_RN: [[output_dir]]
*cmnSlaveHosts: {use {}} {hostName {}} {cpuCount {}} {a32a64 {}} {rsh {}} {maxMem {}} {workingDir {}} {layerDir {}} {mgcLibPath {}} {launchName {}}
*cmnLSFSlaveTbl: {use 1} {totalCpus 1} {minCpus 1} {architecture {{}}} {minMemory {{}}} {resourceOptions {{}}} {submitOptions {{}}}
*cmnGridSlaveTbl: {use 1} {totalCpus 1} {minCpus 1} {architecture {{}}} {minMemory {{}}} {resourceOptions {{}}} {submitOptions {{}}}
*cmnFDILayoutLibrary: [[library]]
*cmnFDILayoutView: [[lvs_layout_view]]
*cmnFDIDEFLayoutPath: [[cell]].def
