simLibName = "[[library]]"
simCellName = "[[cell]]"
simViewName = "[[lvs_source_view]]"
simSimulator = "[[sim_simulator]]"
simNotIncremental = [[ "'t" if sim_not_incremental else "'nil" ]]
simReNetlistAll = [[ "'t" if sim_renetlist_all else "nil" ]]
simViewList = '([% if sim_view_list %]"[[ sim_view_list | join('" "') ]]"[% endif %])
simStopList = '([% if sim_stop_list %]"[[ sim_stop_list | join('" "') ]]"[% endif %])
hnlNetlistFileName = "[[cell]].src.net"
simRunDir = "[[output_dir]]"
resistorModel = ""
shortRES = [[short_res]]
preserveRES = [[ "'t" if preserve_res else "'nil" ]]
checkRESVAL = [[ "'t" if check_res_val else "'nil" ]]
checkRESSIZE = [[ "'t" if check_res_size else "'nil" ]]
preserveCAP = [[ "'t" if preserve_cap else "'nil" ]]
checkCAPVAL = [[ "'t" if check_cap_val else "'nil" ]]
checkCAPAREA = [[ "'t" if check_cap_area else "'nil" ]]
preserveDIO = [[ "'t" if preserve_dio else "'nil" ]]
checkDIOAREA = [[ "'t" if check_dio_area else "'nil" ]]
checkDIOPERI = [[ "'t" if check_dio_peri else "'nil" ]]
checkCAPPERI = [[ "'t" if check_cap_peri else "'nil" ]]
simPrintInhConnAttributes = [[ "'t" if sim_print_inh_conn_attributes else "'nil" ]]
checkScale = "[[check_scale]]"
checkLDD = [[ "'t" if check_ldd else "'nil" ]]
pinMAP = 'nil
preserveBangInNetlist = [[ "'t" if preserve_bang_in_netlist else "'nil" ]]
shrinkFACTOR = [[shrink_factor]]
globalPowerSig = "[[global_power_sig]]"
globalGndSig = "[[global_gnd_sig]]"
displayPININFO = [[ "'t" if display_pin_info else "'nil" ]]
preserveALL = [[ "'t" if preserve_all else "'nil" ]]
setEQUIV = ""
incFILE = "[[inc_file]]"
auCdlDefNetlistProc = "ansCdlSubcktCall"
